<div class="modal" id="body-expanded-modal">

  <div class="modal-content">
    <textarea placeholder="Body..." class="modal-textarea form-control form-textarea" type="text" id="body-expanded" required><%= blog.body %></textarea>
    <div class="bottom-right buttons">
      <button class="btn btn-danger" type="button" id="cancel-body">Cancel</button>
      <button class="btn btn-primary" type="button" id="confirm-body">Confirm</button>
    </div>
  </div>
</div>

