<h1 class="page-header">Reset Password</h1>

<% if (locals.invalidToken) { %>
  <h3 style="background-color: darkred; color: white; padding: 1rem; text-align: center;">
     Invalid Token - Redirecting in <span data-closed-after="5" data-current-time="5" id="invalid-token-redirect-after">5</span> Seconds
  </h3>
<% } else { %>


<form action="/reset-password" method="POST" class="form" id="resetPassword-form" data-validate='
[{
  "input": "#email",
  "error": "#email-error"
}]'>

  <div class="form-group">
    <label for="email-password" class="form-label">Email</label>
    <input name="email" id="email" class="form-control">
    <p class="form-error" id="email-error"></p>
  </div>

  <% if (locals.error) { %>
    <h2 class="form-title-error"><%= error %></h2>
  <% } %>

  <h2 id="error"></h2>
  <button type="submit" class="btn btn-primary form-submit-button">Send Mail</button>

</form>

<% } %>

<script>
  function ct() {
    clearTimeout(timeout)
  }
  const emailInputElement = document.getElementById('email');
  const errorElement = document.getElementById('error');
  const invalidTokenElement = document.getElementById('invalid-token-redirect-after');
  const CLASS_PREFIX = 'form-title';
var timeout;
  if (invalidTokenElement) {
    timeout = setTimeout(() => {
      window.location.replace('/')
    }, invalidTokenElement.dataset.closedAfter * 1000);

    setInterval(() => {
      invalidTokenElement.dataset.currentTime--;
      invalidTokenElement.innerText = invalidTokenElement.dataset.currentTime;
    }, 1000)
  }

  document.getElementById('resetPassword-form').addEventListener('submit', function (e) {
    e.preventDefault();

    const email = emailInputElement.value;

    if (!email) return;

    fetch('/reset-password', {
      method: 'POST',
      headers: {
        'Content-type': 'application/json'
      },
      body: JSON.stringify({ email: email })
    }).then(response => response.json())
      .then(data => handleResponse(data))
      .catch(err => console.error(err));
  })

  function handleResponse(data) {
    if (data.sent) {
      errorElement.classList.add(`${CLASS_PREFIX}-success`)
      errorElement.classList.remove(`${CLASS_PREFIX}-error`);
    } else {
      errorElement.classList.add(`${CLASS_PREFIX}-error`);
      errorElement.classList.remove(`${CLASS_PREFIX}-success`)
    }
    
    errorElement.innerText = data.message;
  }
</script>
