<h1 class="page-header capitalize">Who are we</h1>
<p class="lead">We Are <i>Bloggers</i> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure, officia quis, deleniti earum incidunt, ea dicta aperiam atque architecto quia hic ipsam pariatur quod tempora! Nihil itaque fuga dolor aperiam.</p>