button, input[type="submit"], [role="button"] {
  cursor: pointer;
}

button {
  border: none;
  background: none; 
}

.btn {
  padding: .4em .6em;
  font-size: 1.05rem;
  border-radius: 3px;
  text-decoration: none;
  outline: none;
}

.btn-danger {
  background-color: var(--danger-color);
  color: white;
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
}

.btn-danger:hover, .btn-danger:focus {
  background-color: var(--danger-color-hover, crimson);
} 

.btn-primary:hover, .btn-primary:focus {
  background-color: var(--primary-color-hover, mediumblue);
} 
